<%# <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Simple AirBnb</a>
<div class="collapse navbar-collapse" id="navbardSupportedContent">
  <div class="ml-auto flex">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" value="">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div> %>
<div class="container mt-3">
  <div class="row">
    <h2>All our Flats</h2>
  </div>
  <div class="row">
    <h5>See what's on offer!</h5>
  </div>


  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-4">
      <div class="flat-card">
        <div class="flat-card-content">
          <div class="flat-card-title">
            <h4><%= flat.name %></h4>
          </div>
          <p><%= flat.address %><p>
          <p><%= flat.number_of_guests %></p>
          <p><%= flat.price_per_night %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
